# copyright
snippet //copy
	//------------------------------------------------------------------------------
	// Copyright (c) 2011 Ben Scott. All rights reserved.
	//------------------------------------------------------------------------------
	
# function comment
snippet //-
	//------------------------------------------------------------------------------
	
# section comment
snippet ///
	//
	// ${1}
	//

	${2}
